@import "../../../omarchy/current/theme/walker.css";

* {
  all: unset;
}

* {
  font-family: "JetBrainsMono Nerd Font";
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
  color: @base;

  border-radius: 16px;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 24px;
  padding: 0;
  margin: 0;
}

.box-wrapper {
  padding: 8px 8px;
  border: 2px solid alpha(@border, 0.1);
  background-color: @text;

  box-shadow:
    0px 0px 32px rgba(0, 0, 0, 0.165),
    0px 8px 64px rgba(0, 0, 0, 0.165);
}

.preview-box {
}

.box {
}

.search-container {
  padding: 0px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: inset;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  border-radius: 0px;
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
  background: alpha(@base, 0);
  border-radius: 8px;
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 4px 0px;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}
